*{
  font-family: "Roboto", sans-serif!important;
}
body{
  font-size: 16px;
  background-color: #ECECEC;
}
.web-content{
  min-height: 500px;
}

/* Modal */
.modal-background{
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-content{
  min-height: 50vh;
  justify-content: center;
}