*{
  font-family: "Roboto", sans-serif!important;
}
body{
  font-size: 16px;
  /* background-color: #ECECEC; */
}
a{
  text-decoration: none;
}
.cursor-pointer{
  cursor: pointer;
}
.web-content{
  min-height: 500px;
}
.box-shadow{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
}
/* Animation */
.form-animation {
  animation: FormAnimation 0.6s ease-out forwards;
  position: relative;
}

@keyframes FormAnimation {
  from {
    top: -30px;
    opacity: 0; /* Thêm fade-in cho mượt */
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* Modal */
.modal-background{
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-content{
  min-height: 50vh;
  justify-content: center;
}