/* General styling for question cards */
.question.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  /* Styling for radio options */
  .question-option {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: background-color 0.2s, border-color 0.2s;
  }
  
  .question-option:hover {
    background-color: #f1f1f1;
    border-color: #aaa;
  }
  
  /* Styling when an option is selected */
  .question-option--checked{
    border: 1px solid #0d6efd;
    color: #0d6efd;
    border-radius: 5px;
    padding: 10px;  
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;
  }
  /* Styling when an option is correct */
  .question-option--isCorrect{
    border: 1px solid #28a745;
    color: #28a745;
    border-radius: 5px;
    padding: 10px;  
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;
  }
  /* Styling when an option is wrong */
  .question-option--isWrong{
    border: 1px solid #dc3545;
    color: #dc3545;
    border-radius: 5px;
    padding: 10px;  
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;
  }
  /* Responsive styling */
  @media (max-width: 768px) {
    .question-option {
      text-align: center;
    }
  
    .question-options {
      flex-direction: column;
    }
  }
  
  /* Exam */
  .exam-card {
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.exam-title {
    color: #212529;
    font-weight: bold;
}
.answer-sheet {
  padding: 20px;
  border-top: 1px solid #ddd;
  background: #f9f9f9;
  position: sticky;
  top: 1rem;
  height: fit-content;
}

.answer-sheet h3 {
  margin-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 10px;
  margin-bottom: 20px;
  max-height: 40vh;
  overflow-y: scroll;
}

.grid .button-selected {
  background: #0d6efd;
  color: #fff;
}

.grid button:hover {
  background: #0d6dfdc3;
  color: #fff;
}

.submit {
  width: 100%;
  padding: 10px;
  background: #3585f4;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.submit:hover {
  background: #006aff;
}