footer {
    background-color: #fff;
    padding: 20px;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex: 1;
    margin: 10px;
}

.footer-column h3 {
    font-size: 16px;
    color: var(--color-primary);
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: 500;
}

.footer-column ul li a:hover {
    color: var(--color-link-hover);
    text-decoration: underline;
}
.footer-contact {
    color: var(--color-text-hover);
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 14px;
    margin-bottom: 10px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
}

.social-icons a:hover img {
    transform: scale(1.1);
}