
.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-header--content{
    display: none;
    position: absolute;
    top: 30px;
    left: -60px;
    padding: 12px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10000;
    border-radius: 4px;
    transition: all 0.4s ease-in;
}
.dropdown-header--content a, .drp-name{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-header--content a:hover{
    background-color: #f1f1f1;
}
.dropdown-header--content a:focus{
    background-color: #dfdfdf;
}
.dropdown:hover .dropdown-header--content{
    display: block;
}